@model netcore.Models.Invent.PurchaseOrder
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PrintPurchaseOrder</title>
</head>
<body onload="window.print();">
    <div class="wrapper">
        <!-- Main content -->
        <section class="invoice">
            <!-- title row -->
            <div class="row">
                <div class="col-xs-12">
                    <h2 class="page-header">
                        <i class="fa fa-globe"></i> Phiếu đề nghị nhập hàng:
                        <small class="pull-right">@Model.purchaseOrderNumber</small>
                    </h2>
                </div>
                <!-- /.col -->
            </div>
            <!-- info row -->
            <div class="row invoice-info">
                <div class="col-sm-4 invoice-col">
                    Đơn vị công ty / Nhà cung cấp
                    <address>
                        <strong>@Model.vendor.vendorName</strong><br>
                        @Model.vendor.street1<br>
                        @Model.vendor.street2<br>
                        @Model.vendor.city<br>
                        Người giao hàng: @Model.picVendor
                    </address>
                </div>
                <!-- /.col -->
                <div class="col-sm-4 invoice-col">
                    Đơn vị / công ty
                    <address>
                        <strong>@Model.branch.branchName</strong><br>
                        @Model.branch.street1<br>
                        @Model.branch.street2<br>
                        @Model.branch.city<br>
                        Người nhận hàng: @Model.picInternal
                        @Model.deliveryAddress<br>
                    </address>
                </div>
                <!-- /.col -->
                <div class="col-sm-4 invoice-col">
                    <b>Số PO:</b> @Model.purchaseOrderNumber<br>
                                                            <b>Ngày PO:</b> @Model.poDate.ToString("dd-MMM-yyyy")<br>
                    <b>Ngày nhập hàng:</b> @Model.deliveryDate.ToString("dd-MMM-yyyy")<br>

                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
            <!-- Table row -->
            <div class="row">
                <div class="col-xs-12 table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Số lượng</th>
                                <th>Tên sản phẩm</th>
                                <th>Giá</th>
                                <th>Thông tin mô tả</th>
                                <th>Thành tiền</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.purchaseOrderLine)
                            {
                                <tr>
                                    <td>@item.qty</td>
                                    <td>@item.product.productCode</td>
                                    <td>@item.price.ToString("###,###.##")</td>
                                    <td>@item.product.productName</td>
                                    <td>$ @item.totalAmount.ToString("###,###.##")</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
            <div class="row">
                <!-- accepted payments column -->
                <div class="col-xs-6">
                    <p class="lead">Thông tin mô tả:</p>
                    <p class="text-muted well well-sm no-shadow" style="margin-top: 10px;">
                        @Model.description
                    </p>
                </div>
                <!-- /.col -->
                <div class="col-xs-6">
                    <p class="lead">Chi tiết số tiền</p>
                    <div class="table-responsive">
                        <table class="table">
                            <tr>
                                <th style="width:50%">Tổng tiền:</th>
                                <td>$ @Model.totalOrderAmount.ToString()</td>
                            </tr>
                            <tr>
                                <th>Tổng giảm giá</th>
                                <td>$ @Model.totalDiscountAmount.ToString()</td>
                            </tr>
                            <tr>
                                <th>Tổng thành tiền:</th>
                                <td>$ @((Model.totalOrderAmount - Model.totalDiscountAmount).ToString())</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </section>
        <!-- /.content -->
    </div>
    <!-- ./wrapper -->
    @Html.Partial("_AdminlteNetcoreBasicStyles")
    @Html.Partial("_AdminlteNetcoreBasicScripts")
</body>
</html>
