@model netcore.Models.Invent.TransferOrder

@{
    Layout = "_AdminlteNetcore";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Giao dịch / Chuyển kho
            <small>@Model.transferOrderNumber</small>
        </h1>

    </section>
    <div class="pad margin no-print">
        <div class="callout callout-info" style="margin-bottom: 0!important;">
            <h4><i class="fa fa-info"></i> Note:</h4>
            Trang này là trang in. Nhấp vào nút in ở phía dưới để in.
        </div>
    </div>
    <!-- Main content -->
    <section class="invoice">
        <!-- title row -->
        <div class="row">
            <div class="col-xs-12">
                <h2 class="page-header">
                    <i class="fa fa-globe"></i> Phiếu đề nghị chuyển Kho:
                    <small class="pull-right">Date: @Model.transferOrderDate.ToString("dd-MMM-yyyy")</small>
                </h2>
            </div>
            <!-- /.col -->
        </div>
        <!-- info row -->
        <div class="row invoice-info">
            <div class="col-sm-4 invoice-col">
                Chuyển từ kho
                <address>
                    <strong>@Model.warehouseFrom.warehouseName</strong><br>
                    @Model.warehouseFrom.street1<br>
                    @Model.warehouseFrom.street2<br>
                    @Model.warehouseFrom.city<br>
                    Người lập phiếu: @Model.picName
                </address>
            </div>
            <!-- /.col -->
            <div class="col-sm-4 invoice-col">
                Đến kho
                <address>
                    <strong>@Model.warehouseTo.warehouseName</strong><br>
                    @Model.warehouseTo.street1<br>
                    @Model.warehouseTo.street2<br>
                    @Model.warehouseTo.city<br>
                    Người lập phiếu: @Model.picName
                </address>
            </div>
            <!-- /.col -->
            <div class="col-sm-4 invoice-col">
                <b>Số TO:</b> @Model.transferOrderNumber<br>
                <b>Ngày TO:</b> @Model.transferOrderDate.ToString("dd-MMM-yyyy")<br>
                <b>Người lập phiếu:</b> @Model.picName<br>

            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
        <!-- Table row -->
        <div class="row">
            <div class="col-xs-12 table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Số lượng</th>
                            <th>Hàng hóa</th>
                            <th>Mã hàng hóa</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.transferOrderLine)
                        {
                            <tr>
                                <td>@item.qty</td>
                                <td>@item.product.productCode</td>
                                <td>@item.product.productName</td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
        <div class="row">
            <!-- accepted payments column -->
            <div class="col-xs-6">
                <p class="lead">Thông tin mô tả:</p>
                <p class="text-muted well well-sm no-shadow" style="margin-top: 10px;">
                    @Model.description
                </p>
            </div>
            <!-- /.col -->
            <div class="col-xs-6">
                
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
        <!-- this row will not appear when printing -->
        <div class="row no-print">
            <div class="col-xs-12">

                <a href="@Url.Action("PrintTransferOrder", new { id = Model.transferOrderId })" target="_blank" class="btn btn-primary"><i class="fa fa-print"></i> Print</a>

            </div>
        </div>
    </section>
    <!-- /.content -->
    <div class="clearfix"></div>
</div>
<!-- /.content-wrapper -->
