@model netcore.Models.Invent.Shipment

@{
    Layout = "_AdminlteNetcore";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Giao dịch / Xuất hàng hóa   
            <small>@Model.shipmentNumber</small>
        </h1>

    </section>
    <div class="pad margin no-print">
        <div class="callout callout-info" style="margin-bottom: 0!important;">
            <h4><i class="fa fa-info"></i> Note:</h4>
            Trang này là trang in. Nhấp vào nút in ở phía dưới để in.
        </div>
    </div>
    <!-- Main content -->
    <section class="invoice">
        <!-- title row -->
        <div class="row">
            <div class="col-xs-12">
                <h2 class="page-header">
                    <i class="fa fa-globe"></i> Phiếu xuất hàng hóa:
                    <small class="pull-right">Ngày: @Model.shipmentDate.ToString("dd-MMM-yyyy")</small>
                </h2>
            </div>
            <!-- /.col -->
        </div>
        <!-- info row -->
        <div class="row invoice-info">
            <div class="col-sm-4 invoice-col">
                Đơn vị / công ty
                <address>
                    <strong>@Model.salesOrder.branch.branchName</strong><br>
                    @Model.salesOrder.branch.street1<br>
                    @Model.salesOrder.branch.street2<br>
                    @Model.salesOrder.branch.city<br>
                    Người giao hàng: @Model.salesOrder.picInternal
                </address>
            </div>
            <!-- /.col -->
            <div class="col-sm-4 invoice-col">
                Đơn vị công ty khách hàng / Địa chỉ
                <address>
                    <strong>@Model.customer.customerName</strong><br>
                    @Model.customer.street1<br>
                    @Model.customer.street2<br>
                    @Model.customer.city<br>
                    Người nhận hàng: @Model.salesOrder.picCustomer
                </address>
            </div>
            <!-- /.col -->
            <div class="col-sm-4 invoice-col">
                <b>Số SO</b> @Model.salesOrder.salesOrderNumber<br>
                <b>Số DO</b> @Model.shipmentNumber<br />
                <b>Ngày SO:</b> @Model.salesOrder.soDate.ToString("dd-MMM-yyyy")<br>
                <b>Ngày DO:</b> @Model.shipmentDate.ToString("dd-MMM-yyyy")<br>

            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
        <!-- Table row -->
        <div class="row">
            <div class="col-xs-12 table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Số lượng</th>
                            <th>Hàng hóa</th>
                            <th>Thông tin mô tả</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.shipmentLine)
                        {
                            <tr>
                                <td>@item.qty</td>
                                <td>@item.product.productCode</td>
                                <td>@item.product.productName</td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
        <div class="row">
            <!-- accepted payments column -->
            <div class="col-xs-6">
                <p class="lead">Thông tin mô tả:</p>
                <p class="text-muted well well-sm no-shadow" style="margin-top: 10px;">
                    @Model.salesOrder.description
                </p>
            </div>
            <!-- /.col -->
            <div class="col-xs-6">
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
        <!-- this row will not appear when printing -->
        <div class="row no-print">
            <div class="col-xs-12">

                <a href="@Url.Action("PrintDeliveryOrder", new { id = Model.shipmentId })" target="_blank" class="btn btn-primary"><i class="fa fa-print"></i> Print</a>

            </div>
        </div>
    </section>
    <!-- /.content -->
    <div class="clearfix"></div>
</div>
<!-- /.content-wrapper -->
