@model netcore.Models.Invent.ReceivingLine

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminlteNetcoreDetails.cshtml";
}



<div class="row">
    <div class="col-md-9">
        <!-- Default box -->
        <div class="box box-primary">
            <div class="box-body">
                <div>
                      <dl class="dl-horizontal">
                          <dt>
                              @Html.DisplayNameFor(model => model.qty)
                          </dt>
                          <dd>
                              @Html.DisplayFor(model => model.qty)
                          </dd>
                          <dt>
                              @Html.DisplayNameFor(model => model.qtyReceive)
                          </dt>
                          <dd>
                              @Html.DisplayFor(model => model.qtyReceive)
                          </dd>
                          <dt>
                              @Html.DisplayNameFor(model => model.qtyInventory)
                          </dt>
                          <dd>
                              @Html.DisplayFor(model => model.qtyInventory)
                          </dd>
                          <dt>
                              @Html.DisplayNameFor(model => model.createdAt)
                          </dt>
                          <dd>
                              @Html.DisplayFor(model => model.createdAt)
                          </dd>
                          <dt>
                              @Html.DisplayNameFor(model => model.branch)
                          </dt>
                          <dd>
                              @Html.DisplayFor(model => model.branch.branchId)
                          </dd>
                          <dt>
                              @Html.DisplayNameFor(model => model.product)
                          </dt>
                          <dd>
                              @Html.DisplayFor(model => model.product.productId)
                          </dd>
                          <dt>
                              @Html.DisplayNameFor(model => model.receiving)
                          </dt>
                          <dd>
                              @Html.DisplayFor(model => model.receiving.receivingId)
                          </dd>
                          <dt>
                              @Html.DisplayNameFor(model => model.warehouse)
                          </dt>
                          <dd>
                              @Html.DisplayFor(model => model.warehouse.warehouseId)
                          </dd>
                      </dl>                                   
                </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <div class="form-group">
                    <a asp-action="Edit" asp-route-id="@Model.receivingLineId" class="btn btn-primary">Edit</a>
                    <a asp-action="Index" class="btn btn-default">Back to List</a>
                </div>
            </div>
            <!-- /.box-footer-->
        </div>
        <!-- /.box -->
    </div>
    <div class="col-md-3">
    </div>
</div>



