@model IEnumerable<netcore.Models.Invent.ReceivingLine>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminlteNetcoreIndex.cshtml";
}


<table class="table table-hover table-striped">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.qty)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.qtyReceive)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.qtyInventory)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.branch)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.product)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.receiving)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.warehouse)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.qty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.qtyReceive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.qtyInventory)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.branch.branchId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.product.productId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.receiving.receivingId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.warehouse.warehouseId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.receivingLineId"><i class="fa fa-pencil"></i></a> |
                <a asp-action="Details" asp-route-id="@item.receivingLineId"><i class="fa fa-list"></i></a> |
                <a asp-action="Delete" asp-route-id="@item.receivingLineId"><i class="fa fa-trash"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
